@media screen and (max-width: 768px) {
    .destaques__principal {
        grid-column: 1/5;
        grid-row: 1/3;
    }
    
    .destaques__secundario:nth-child(2) {
        display: none;
    }
    .destaques__secundario:nth-child(3) {
        display: none;
    }
    .destaques__secundario:nth-child(4) {
        display: none;
    }
    .destaques__secundario:nth-child(5) {
        display: none;
    }

    .destaques__categorias {
        grid-column: 1/5;
    }

    .conteudo {
        padding: 0 2rem;
    }

    .destaques {
        width: calc(100vw - 3.7rem);
    }
}  /*mobile*/

@media sreen and (max-width: 992px) {
    .destaques__principal {
        grid-column: 1/4;
        grid-row: 1/3;
    }
    
    .destaques__secundario:nth-child(2) {
        display: none;
    }
    .destaques__secundario:nth-child(3) {
        display: none;
    }
    .destaques__secundario:nth-child(4) {
        display: none;
    }
    .destaques__secundario:nth-child(5) {
        display: none;
    }

    .destaques__categorias {
        grid-column: 1/3;
    }
} /*tablets*/

@media screen and (max-width: 1200px) {

} /*desktops antigos*/ 

@media screen and (max-width: 5000px) {

} /*desktop e tv*/